# Numpy

In [1]:
# numerical python
#import numpy model
import numpy as np

# Array

In [3]:
array = np.array([1, 2, 3, 4, 5])
array

array([1, 2, 3, 4, 5])

In [4]:
type(array)

numpy.ndarray

In [8]:
# n dimention
arr = np.array([1, 2, 3, 4, 5, 6, 7, 8, 9, 10], dtype=int, ndmin=5)
arr

array([[[[[ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10]]]]])

In [12]:
var = [['name'],['age'],['family_member']]

In [13]:
var

[['name'], ['age'], ['family_member']]

In [18]:
l = [
        [
            ['name'],['age'],['family_member'],
            ['fahad'], [25], [5],
            ['hasan'], [23], [4],
        ],
        [
            ['name'],['age'],['family_member'],
            ['fahad'], [25], [5],
            ['hasan'], [23], [4],
        ]
    ]

In [19]:
arr2 = np.array(l)

In [20]:
arr2

array([[['name'],
        ['age'],
        ['family_member'],
        ['fahad'],
        ['25'],
        ['5'],
        ['hasan'],
        ['23'],
        ['4']],

       [['name'],
        ['age'],
        ['family_member'],
        ['fahad'],
        ['25'],
        ['5'],
        ['hasan'],
        ['23'],
        ['4']]], dtype='<U13')

In [21]:
np.ndim(arr2)

3

In [22]:
arr3 = np.array(var)

In [23]:
arr3

array([['name'],
       ['age'],
       ['family_member']], dtype='<U13')

In [24]:
type(arr3)

numpy.ndarray

In [25]:
np.ndim(arr3)

2

In [26]:
arr3 is var

False

In [27]:
new_arr = arr3.copy()

In [28]:
new_arr

array([['name'],
       ['age'],
       ['family_member']], dtype='<U13')

In [29]:
arr3.size

3

In [30]:
arr2.size

18

In [31]:
arr2.shape

(2, 9, 1)

In [33]:
arr2.argmax()

0

In [34]:
arr2.argmin()

7

In [40]:
arr2.astype(dtype='<U13')

array([[['name'],
        ['age'],
        ['family_member'],
        ['fahad'],
        ['25'],
        ['5'],
        ['hasan'],
        ['23'],
        ['4']],

       [['name'],
        ['age'],
        ['family_member'],
        ['fahad'],
        ['25'],
        ['5'],
        ['hasan'],
        ['23'],
        ['4']]], dtype='<U13')

# As Array

In [43]:
l = [1, 2, 3, 4, 5]
t = (12, 46, 23, 4,55, 6)

In [44]:
np.asarray(l)

array([1, 2, 3, 4, 5])

In [45]:
np.asarray(t)

array([12, 46, 23,  4, 55,  6])

In [46]:
np.asanyarray(l)

array([1, 2, 3, 4, 5])

In [47]:
np.mat(arr2)

matrix([['name', 'age', 'family_member', 'fahad', '25', '5', 'hasan',
         '23', '4'],
        ['name', 'age', 'family_member', 'fahad', '25', '5', 'hasan',
         '23', '4']], dtype='<U13')

In [48]:
l = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [49]:
np.mat(l)

matrix([[1, 2, 3],
        [4, 5, 6],
        [7, 8, 9]])

# numpy function

In [50]:
np.fromfunction(lambda x, y: x==y, (3, 3), dtype=int)

array([[ True, False, False],
       [False,  True, False],
       [False, False,  True]])

In [56]:
[[1==1, 1==2, 1==3],
[1==2, 2==2, 3==2],
[1==3, 2==3, 3==3]]

[[True, False, False], [False, True, False], [False, False, True]]

In [59]:
np.fromfunction(lambda x, y: x**y, (4, 4), dtype=int)

array([[ 1,  0,  0,  0],
       [ 1,  1,  1,  1],
       [ 1,  2,  4,  8],
       [ 1,  3,  9, 27]], dtype=int32)

In [61]:
itr = [i for i in range(10)]

In [62]:
np.fromiter(itr, dtype=int)

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [63]:
string = "1, 2, 3, 4, 5, 6, 7, 8, 9"
np.fromstring(string, dtype=int, sep=',')

array([1, 2, 3, 4, 5, 6, 7, 8, 9])

In [64]:
string = "1 - 2 - 3 - 4 - 5 - 6 - 7 - 8 - 9"
np.fromstring(string, dtype=int, sep='-')

array([1, 2, 3, 4, 5, 6, 7, 8, 9])

In [65]:
s = "1, 2, 3 - 4, 5 - 6, 7, 8 - 9, 10, 11 - 12, 13 - 14 - 15, 16 - 17, 18 - 19"
# raw coding

In [66]:
string = "1 2 3 4 5 6 7 8 9"
np.fromstring(string, dtype=int, sep=" ")

array([1, 2, 3, 4, 5, 6, 7, 8, 9])

# Arange

In [70]:
np.arange(1, 100, 10)

array([ 1, 11, 21, 31, 41, 51, 61, 71, 81, 91])

In [73]:
a = np.arange(1, 101)
a

array([  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,  13,
        14,  15,  16,  17,  18,  19,  20,  21,  22,  23,  24,  25,  26,
        27,  28,  29,  30,  31,  32,  33,  34,  35,  36,  37,  38,  39,
        40,  41,  42,  43,  44,  45,  46,  47,  48,  49,  50,  51,  52,
        53,  54,  55,  56,  57,  58,  59,  60,  61,  62,  63,  64,  65,
        66,  67,  68,  69,  70,  71,  72,  73,  74,  75,  76,  77,  78,
        79,  80,  81,  82,  83,  84,  85,  86,  87,  88,  89,  90,  91,
        92,  93,  94,  95,  96,  97,  98,  99, 100])

In [78]:
a.reshape(10, 10)

array([[  1,   2,   3,   4,   5,   6,   7,   8,   9,  10],
       [ 11,  12,  13,  14,  15,  16,  17,  18,  19,  20],
       [ 21,  22,  23,  24,  25,  26,  27,  28,  29,  30],
       [ 31,  32,  33,  34,  35,  36,  37,  38,  39,  40],
       [ 41,  42,  43,  44,  45,  46,  47,  48,  49,  50],
       [ 51,  52,  53,  54,  55,  56,  57,  58,  59,  60],
       [ 61,  62,  63,  64,  65,  66,  67,  68,  69,  70],
       [ 71,  72,  73,  74,  75,  76,  77,  78,  79,  80],
       [ 81,  82,  83,  84,  85,  86,  87,  88,  89,  90],
       [ 91,  92,  93,  94,  95,  96,  97,  98,  99, 100]])

In [83]:
np.linspace(1, 4, 100)

array([1.        , 1.03030303, 1.06060606, 1.09090909, 1.12121212,
       1.15151515, 1.18181818, 1.21212121, 1.24242424, 1.27272727,
       1.3030303 , 1.33333333, 1.36363636, 1.39393939, 1.42424242,
       1.45454545, 1.48484848, 1.51515152, 1.54545455, 1.57575758,
       1.60606061, 1.63636364, 1.66666667, 1.6969697 , 1.72727273,
       1.75757576, 1.78787879, 1.81818182, 1.84848485, 1.87878788,
       1.90909091, 1.93939394, 1.96969697, 2.        , 2.03030303,
       2.06060606, 2.09090909, 2.12121212, 2.15151515, 2.18181818,
       2.21212121, 2.24242424, 2.27272727, 2.3030303 , 2.33333333,
       2.36363636, 2.39393939, 2.42424242, 2.45454545, 2.48484848,
       2.51515152, 2.54545455, 2.57575758, 2.60606061, 2.63636364,
       2.66666667, 2.6969697 , 2.72727273, 2.75757576, 2.78787879,
       2.81818182, 2.84848485, 2.87878788, 2.90909091, 2.93939394,
       2.96969697, 3.        , 3.03030303, 3.06060606, 3.09090909,
       3.12121212, 3.15151515, 3.18181818, 3.21212121, 3.24242424,
       3.27272727, 3.3030303 , 3.33333333, 3.36363636, 3.39393939,
       3.42424242, 3.45454545, 3.48484848, 3.51515152, 3.54545455,
       3.57575758, 3.60606061, 3.63636364, 3.66666667, 3.6969697 ,
       3.72727273, 3.75757576, 3.78787879, 3.81818182, 3.84848485,
       3.87878788, 3.90909091, 3.93939394, 3.96969697, 4.        ])

In [85]:
np.zeros(100)

array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.])

In [86]:
np.ones(100)

array([1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.])

In [88]:
np.zeros(10, dtype=int)+5

array([5, 5, 5, 5, 5, 5, 5, 5, 5, 5])

In [89]:
np.ones(10, dtype=int)+10

array([11, 11, 11, 11, 11, 11, 11, 11, 11, 11])

In [98]:
np.ones((4, 5, 10), dtype=int)+5

array([[[6, 6, 6, 6, 6, 6, 6, 6, 6, 6],
        [6, 6, 6, 6, 6, 6, 6, 6, 6, 6],
        [6, 6, 6, 6, 6, 6, 6, 6, 6, 6],
        [6, 6, 6, 6, 6, 6, 6, 6, 6, 6],
        [6, 6, 6, 6, 6, 6, 6, 6, 6, 6]],

       [[6, 6, 6, 6, 6, 6, 6, 6, 6, 6],
        [6, 6, 6, 6, 6, 6, 6, 6, 6, 6],
        [6, 6, 6, 6, 6, 6, 6, 6, 6, 6],
        [6, 6, 6, 6, 6, 6, 6, 6, 6, 6],
        [6, 6, 6, 6, 6, 6, 6, 6, 6, 6]],

       [[6, 6, 6, 6, 6, 6, 6, 6, 6, 6],
        [6, 6, 6, 6, 6, 6, 6, 6, 6, 6],
        [6, 6, 6, 6, 6, 6, 6, 6, 6, 6],
        [6, 6, 6, 6, 6, 6, 6, 6, 6, 6],
        [6, 6, 6, 6, 6, 6, 6, 6, 6, 6]],

       [[6, 6, 6, 6, 6, 6, 6, 6, 6, 6],
        [6, 6, 6, 6, 6, 6, 6, 6, 6, 6],
        [6, 6, 6, 6, 6, 6, 6, 6, 6, 6],
        [6, 6, 6, 6, 6, 6, 6, 6, 6, 6],
        [6, 6, 6, 6, 6, 6, 6, 6, 6, 6]]])

In [106]:
for i in range(1, 101, 10):
    print(np.zeros((1, 5, 10), dtype=int)+i)

[[[1 1 1 1 1 1 1 1 1 1]
  [1 1 1 1 1 1 1 1 1 1]
  [1 1 1 1 1 1 1 1 1 1]
  [1 1 1 1 1 1 1 1 1 1]
  [1 1 1 1 1 1 1 1 1 1]]]
[[[11 11 11 11 11 11 11 11 11 11]
  [11 11 11 11 11 11 11 11 11 11]
  [11 11 11 11 11 11 11 11 11 11]
  [11 11 11 11 11 11 11 11 11 11]
  [11 11 11 11 11 11 11 11 11 11]]]
[[[21 21 21 21 21 21 21 21 21 21]
  [21 21 21 21 21 21 21 21 21 21]
  [21 21 21 21 21 21 21 21 21 21]
  [21 21 21 21 21 21 21 21 21 21]
  [21 21 21 21 21 21 21 21 21 21]]]
[[[31 31 31 31 31 31 31 31 31 31]
  [31 31 31 31 31 31 31 31 31 31]
  [31 31 31 31 31 31 31 31 31 31]
  [31 31 31 31 31 31 31 31 31 31]
  [31 31 31 31 31 31 31 31 31 31]]]
[[[41 41 41 41 41 41 41 41 41 41]
  [41 41 41 41 41 41 41 41 41 41]
  [41 41 41 41 41 41 41 41 41 41]
  [41 41 41 41 41 41 41 41 41 41]
  [41 41 41 41 41 41 41 41 41 41]]]
[[[51 51 51 51 51 51 51 51 51 51]
  [51 51 51 51 51 51 51 51 51 51]
  [51 51 51 51 51 51 51 51 51 51]
  [51 51 51 51 51 51 51 51 51 51]
  [51 51 51 51 51 51 51 51 51 51]]]
[[[61 61 61 61 61 61 61 61 61 61]
  [61 61 61 61 61 61 61 61 61 61]
  [61 61 61 61 61 61 61 61 61 61]
  [61 61 61 61 61 61 61 61 61 61]
  [61 61 61 61 61 61 61 61 61 61]]]
[[[71 71 71 71 71 71 71 71 71 71]
  [71 71 71 71 71 71 71 71 71 71]
  [71 71 71 71 71 71 71 71 71 71]
  [71 71 71 71 71 71 71 71 71 71]
  [71 71 71 71 71 71 71 71 71 71]]]
[[[81 81 81 81 81 81 81 81 81 81]
  [81 81 81 81 81 81 81 81 81 81]
  [81 81 81 81 81 81 81 81 81 81]
  [81 81 81 81 81 81 81 81 81 81]
  [81 81 81 81 81 81 81 81 81 81]]]
[[[91 91 91 91 91 91 91 91 91 91]
  [91 91 91 91 91 91 91 91 91 91]
  [91 91 91 91 91 91 91 91 91 91]
  [91 91 91 91 91 91 91 91 91 91]
  [91 91 91 91 91 91 91 91 91 91]]]

# random

In [107]:
np.random.randn(10)

array([-1.38442906, -0.86017676,  0.27223902,  1.23403263, -0.42663652,
        0.02395766, -0.60448582, -0.33573238,  0.4526799 ,  0.99159431])

In [108]:
np.random.randn(4, 3)

array([[-1.80586071, -0.6798697 , -0.91045597],
       [ 1.16925912, -0.90376398, -1.09835615],
       [-0.30755414,  0.53119639, -0.10241128],
       [ 0.40110304, -0.74969781, -0.49821332]])

In [117]:
np.random.randint(1, 10)

2

In [118]:
np.random.randint(1, 100, (10, 10))

array([[61, 48, 89, 25, 93, 71, 63, 19,  5, 60],
       [65, 14, 36, 89, 27, 53, 28, 60,  4, 67],
       [17, 35, 63,  7, 68, 33, 89, 84, 78, 78],
       [96, 99,  5, 34, 35,  7,  7, 23, 99, 54],
       [35, 63, 75, 31, 61, 45, 47, 56, 20, 50],
       [65, 33,  5, 14, 66, 67, 39, 95, 87, 15],
       [26,  7, 64, 97, 39, 52, 70, 75, 71, 45],
       [97, 98, 41, 53,  9,  5, 57, 19, 48, 79],
       [72, 53, 64, 44, 60, 99, 35, 84,  5,  1],
       [83, 41, 76,  5, 13, 23, 39, 94, 67, 10]])

In [2]:
a = np.arange(100)

In [3]:
a.reshape(10, 10)

array([[ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14, 15, 16, 17, 18, 19],
       [20, 21, 22, 23, 24, 25, 26, 27, 28, 29],
       [30, 31, 32, 33, 34, 35, 36, 37, 38, 39],
       [40, 41, 42, 43, 44, 45, 46, 47, 48, 49],
       [50, 51, 52, 53, 54, 55, 56, 57, 58, 59],
       [60, 61, 62, 63, 64, 65, 66, 67, 68, 69],
       [70, 71, 72, 73, 74, 75, 76, 77, 78, 79],
       [80, 81, 82, 83, 84, 85, 86, 87, 88, 89],
       [90, 91, 92, 93, 94, 95, 96, 97, 98, 99]])

In [4]:
a

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33,
       34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50,
       51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67,
       68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84,
       85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99])

In [5]:
a.resize(10, 10)

In [6]:
a

array([[ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14, 15, 16, 17, 18, 19],
       [20, 21, 22, 23, 24, 25, 26, 27, 28, 29],
       [30, 31, 32, 33, 34, 35, 36, 37, 38, 39],
       [40, 41, 42, 43, 44, 45, 46, 47, 48, 49],
       [50, 51, 52, 53, 54, 55, 56, 57, 58, 59],
       [60, 61, 62, 63, 64, 65, 66, 67, 68, 69],
       [70, 71, 72, 73, 74, 75, 76, 77, 78, 79],
       [80, 81, 82, 83, 84, 85, 86, 87, 88, 89],
       [90, 91, 92, 93, 94, 95, 96, 97, 98, 99]])

# slicing

In [7]:
a[:]

array([[ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14, 15, 16, 17, 18, 19],
       [20, 21, 22, 23, 24, 25, 26, 27, 28, 29],
       [30, 31, 32, 33, 34, 35, 36, 37, 38, 39],
       [40, 41, 42, 43, 44, 45, 46, 47, 48, 49],
       [50, 51, 52, 53, 54, 55, 56, 57, 58, 59],
       [60, 61, 62, 63, 64, 65, 66, 67, 68, 69],
       [70, 71, 72, 73, 74, 75, 76, 77, 78, 79],
       [80, 81, 82, 83, 84, 85, 86, 87, 88, 89],
       [90, 91, 92, 93, 94, 95, 96, 97, 98, 99]])

In [8]:
a[4:8]

array([[40, 41, 42, 43, 44, 45, 46, 47, 48, 49],
       [50, 51, 52, 53, 54, 55, 56, 57, 58, 59],
       [60, 61, 62, 63, 64, 65, 66, 67, 68, 69],
       [70, 71, 72, 73, 74, 75, 76, 77, 78, 79]])

In [15]:
a[3:6, 3:6] = [[12, 23, 34], [21, 32, 43], [98, 87, 65]]

In [16]:
a

array([[ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14, 15, 16, 17, 18, 19],
       [20, 21, 22, 23, 24, 25, 26, 27, 28, 29],
       [30, 31, 32, 12, 23, 34, 36, 37, 38, 39],
       [40, 41, 42, 21, 32, 43, 46, 47, 48, 49],
       [50, 51, 52, 98, 87, 65, 56, 57, 58, 59],
       [60, 61, 62, 63, 64, 65, 66, 67, 68, 69],
       [70, 71, 72, 73, 74, 75, 76, 77, 78, 79],
       [80, 81, 82, 83, 84, 85, 86, 87, 88, 89],
       [90, 91, 92, 93, 94, 95, 96, 97, 98, 99]])

In [19]:
z = np.zeros(100, dtype=int).reshape(10, 10)

In [22]:
z[2:5, 2:5] = 255

In [24]:
z

array([[  0,   0,   0,   0,   0,   0,   0,   0,   0,   0],
       [  0,   0,   0,   0,   0,   0,   0,   0,   0,   0],
       [  0,   0, 255, 255, 255,   0,   0,   0,   0,   0],
       [  0,   0, 255, 255, 255,   0,   0,   0,   0,   0],
       [  0,   0, 255, 255, 255,   0,   0,   0,   0,   0],
       [  0,   0,   0,   0,   0,   0,   0,   0,   0,   0],
       [  0,   0,   0,   0,   0,   0,   0,   0,   0,   0],
       [  0,   0,   0,   0,   0,   0,   0,   0,   0,   0],
       [  0,   0,   0,   0,   0,   0,   0,   0,   0,   0],
       [  0,   0,   0,   0,   0,   0,   0,   0,   0,   0]])

In [26]:
z[..., 2:4] # elepses

array([[  0,   0],
       [  0,   0],
       [255, 255],
       [255, 255],
       [255, 255],
       [  0,   0],
       [  0,   0],
       [  0,   0],
       [  0,   0],
       [  0,   0]])

In [27]:
# math
x = np.array([10, 20, 30])
x

array([10, 20, 30])

In [28]:
np.sin(x)

array([-0.54402111,  0.91294525, -0.98803162])

In [29]:
np.cos(x)

array([-0.83907153,  0.40808206,  0.15425145])

In [30]:
np.tan(x)

array([ 0.64836083,  2.23716094, -6.4053312 ])

In [31]:
np.pi

3.141592653589793

In [32]:
np.degrees(x)

array([ 572.95779513, 1145.91559026, 1718.87338539])

In [47]:
y = np.random.randint(1, 100, (50))

In [48]:
y

array([19, 57, 81,  3, 68, 85, 38, 75, 52, 47, 17,  1, 14, 50, 62, 54, 87,
       19, 58, 81, 41, 41, 21, 86, 73, 60, 11, 99,  5,  5, 48, 85, 28, 37,
       44, 74, 42, 98, 89, 66, 47, 52, 37,  9, 35, 82, 40, 83, 67, 61])

In [49]:
# statistics
np.min(y)

1

In [50]:
np.max(y)

99

In [51]:
np.ptp(y)

98

In [52]:
# mean, median, mode, std, variance
np.mean(y)

50.68

In [53]:
np.average(y)

50.68

In [54]:
np.median(y)

51.0

In [56]:
np.sort(y)

array([ 1,  3,  5,  5,  9, 11, 14, 17, 19, 19, 21, 28, 35, 37, 37, 38, 40,
       41, 41, 42, 44, 47, 47, 48, 50, 52, 52, 54, 57, 58, 60, 61, 62, 66,
       67, 68, 73, 74, 75, 81, 81, 82, 83, 85, 85, 86, 87, 89, 98, 99])

In [58]:
import statistics

In [59]:
statistics.mode(y)

19

In [60]:
statistics.mean(y)

50

In [61]:
statistics.median(y)

51.0

In [62]:
statistics.stdev(y) # standerd daviation formula = sqrt(mean(absolute value(y-y.mean))**2)

27.477263328068172

In [63]:
np.std(y)

27.217229836998474

In [64]:
# variance formula = mean(absolute value(y-y.mean))**2
np.var(y)

740.7775999999999

In [65]:
np.sqrt(740.7775999999999)

27.217229836998474

In [67]:
statistics.variance(y)

755