# Numpy

In [2]:
# numerical python
#import numpy model
import numpy as np

# Array

In [3]:
array = np.array([1, 2, 3, 4, 5])
array

array([1, 2, 3, 4, 5])

In [4]:
type(array)

numpy.ndarray

In [8]:
# n dimention
arr = np.array([1, 2, 3, 4, 5, 6, 7, 8, 9, 10], dtype=int, ndmin=5)
arr

array([[[[[ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10]]]]])

In [12]:
var = [['name'],['age'],['family_member']]

In [13]:
var

[['name'], ['age'], ['family_member']]

In [18]:
l = [
        [
            ['name'],['age'],['family_member'],
            ['fahad'], [25], [5],
            ['hasan'], [23], [4],
        ],
        [
            ['name'],['age'],['family_member'],
            ['fahad'], [25], [5],
            ['hasan'], [23], [4],
        ]
    ]

In [19]:
arr2 = np.array(l)

In [20]:
arr2

array([[['name'],
        ['age'],
        ['family_member'],
        ['fahad'],
        ['25'],
        ['5'],
        ['hasan'],
        ['23'],
        ['4']],

       [['name'],
        ['age'],
        ['family_member'],
        ['fahad'],
        ['25'],
        ['5'],
        ['hasan'],
        ['23'],
        ['4']]], dtype='<U13')

In [21]:
np.ndim(arr2)

3

In [22]:
arr3 = np.array(var)

In [23]:
arr3

array([['name'],
       ['age'],
       ['family_member']], dtype='<U13')

In [24]:
type(arr3)

numpy.ndarray

In [25]:
np.ndim(arr3)

2

In [26]:
arr3 is var

False

In [27]:
new_arr = arr3.copy()

In [28]:
new_arr

array([['name'],
       ['age'],
       ['family_member']], dtype='<U13')

In [29]:
arr3.size

3

In [30]:
arr2.size

18

In [31]:
arr2.shape

(2, 9, 1)

In [33]:
arr2.argmax()

0

In [34]:
arr2.argmin()

7

In [40]:
arr2.astype(dtype='<U13')

array([[['name'],
        ['age'],
        ['family_member'],
        ['fahad'],
        ['25'],
        ['5'],
        ['hasan'],
        ['23'],
        ['4']],

       [['name'],
        ['age'],
        ['family_member'],
        ['fahad'],
        ['25'],
        ['5'],
        ['hasan'],
        ['23'],
        ['4']]], dtype='<U13')

# As Array

In [43]:
l = [1, 2, 3, 4, 5]
t = (12, 46, 23, 4,55, 6)

In [44]:
np.asarray(l)

array([1, 2, 3, 4, 5])

In [45]:
np.asarray(t)

array([12, 46, 23,  4, 55,  6])

In [46]:
np.asanyarray(l)

array([1, 2, 3, 4, 5])

In [47]:
np.mat(arr2)

matrix([['name', 'age', 'family_member', 'fahad', '25', '5', 'hasan',
         '23', '4'],
        ['name', 'age', 'family_member', 'fahad', '25', '5', 'hasan',
         '23', '4']], dtype='<U13')

In [48]:
l = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [49]:
np.mat(l)

matrix([[1, 2, 3],
        [4, 5, 6],
        [7, 8, 9]])

# numpy function

In [50]:
np.fromfunction(lambda x, y: x==y, (3, 3), dtype=int)

array([[ True, False, False],
       [False,  True, False],
       [False, False,  True]])

In [56]:
[[1==1, 1==2, 1==3],
[1==2, 2==2, 3==2],
[1==3, 2==3, 3==3]]

[[True, False, False], [False, True, False], [False, False, True]]

In [59]:
np.fromfunction(lambda x, y: x**y, (4, 4), dtype=int)

array([[ 1,  0,  0,  0],
       [ 1,  1,  1,  1],
       [ 1,  2,  4,  8],
       [ 1,  3,  9, 27]], dtype=int32)

In [61]:
itr = [i for i in range(10)]

In [62]:
np.fromiter(itr, dtype=int)

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [63]:
string = "1, 2, 3, 4, 5, 6, 7, 8, 9"
np.fromstring(string, dtype=int, sep=',')

array([1, 2, 3, 4, 5, 6, 7, 8, 9])

In [64]:
string = "1 - 2 - 3 - 4 - 5 - 6 - 7 - 8 - 9"
np.fromstring(string, dtype=int, sep='-')

array([1, 2, 3, 4, 5, 6, 7, 8, 9])

In [ ]:
s = "1, 2, 3 - 4, 5 - 6, 7, 8 - 9, 10, 11 - 12, 13 - 14 - 15, 16 - 17, 18 - 19"
# raw coding